$animation-timing: 27s;
$carousel-items: 9;
$animation-delay-fraction: $animation-timing / $carousel-items;

.carousel__item {
  animation: carousel-animate-vertical $animation-timing linear infinite;
}

@for $i from 1 through $carousel-items {
  .carousel__item:nth-child(#{$i}) {
    animation-delay: calc(#{$animation-delay-fraction} * (#{$i} - 1));
  }
}

.wrapper {
  background: linear-gradient(60deg, #420285, #08bdbd);
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 2rem;
  padding: 4em;
  margin-bottom: 2rem;
  height: 80vh;
  width: 60vw;
  overflow: auto;
  transition: all 0.3s ease-in-out;
}

.carousel__item {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  top: 50px;
  padding: 0 12px;
  opacity: 0; /* Ensure initial opacity is 0 */
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
  animation: carousel-animate-vertical 27s linear infinite;
  transform: translateY(100%) scale(0.5); /* Start off-screen */
}

@keyframes carousel-animate-vertical {
  0%,
  100% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
  }
  5% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
  }
  15% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  25% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
  }
  35%,
  65% {
    transform: translateY(-200%) scale(0.5);
    opacity: 0;
  }
  70% {
    transform: translateY(-200%) scale(0.7);
    opacity: 0.4;
  }
  80% {
    transform: translateY(-100%) scale(1);
    opacity: 1;
  }
  90% {
    transform: translateY(0) scale(0.7);
    opacity: 0.4;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    width: 80vw; /* Increase width to provide more space */
    padding: 3em; /* Reduce padding slightly */
  }

  .carousel {
    max-width: 90%; /* Allow carousel to take more space */
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 95vw; /* Further increase width */
    padding: 2em; /* Further reduce padding */
    height: auto; /* Allow height to adjust based on content */
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .carousel {
    max-width: 100%; /* Make carousel fully responsive */
  }

  .carousel__item-body,
  .carousel__item-head {
    padding: 8px 10px; /* Adjust padding in carousel items */
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 1em; /* Minimal padding for very small screens */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .carousel__item-head {
    width: 70px; /* Reduce the size of the circular head */
    height: 70px; /* Keep aspect ratio */
    margin-right: -35px; /* Adjust margin to new size */
  }

  .title,
  .content {
    font-size: 16px; /* Smaller font size for readability */
  }
}
