:root {
  --color-lightest: #7da26b;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}

.usage {
  display: grid;
  grid-template-columns: 30% 35% 28%;
  column-gap: 4rem;
  align-items: start;
  height: calc(100vh - 5rem);
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("/background_home.jpg");
  background-size: cover;
  background-position: center;
}

.button,
.buttonDisabled {
  background-color: var(--color-medium);
  color: #343a40;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 2rem;
}

.buttonDisabled {
  background-color: #919191;
  color: #777676;
}

.usage .sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.usage .sidebar li {
  display: grid;
  grid-template-columns: 4.8rem 1fr auto;
  align-items: center;
  column-gap: 1.6rem;
  padding: 1.2rem;
  border-radius: 7px;
  transition: 0.5s;
}

.selected,
.sidebar li:hover {
  background-color: var(--color-lightest);
}

.green {
  color: #66a80f;
}

.red {
  color: #e03131;
  font-weight: 400;
}

form {
  font-size: 1.6rem;
  display: grid;
  align-items: center;
  gap: 1.2rem;
  padding: 3rem;
  background-color: var(--color-lightest);
  border-radius: 7px;
  overflow: auto;
}

label,
input,
select,
.form-add-device,
.devicelist th,
.devicelist td,
.msg,
.danger,
.good,
.compare,
.sidebar {
  transition: all 0.3s;
}

/* Responsive Media Queries */
@media (max-width: 1024px) {
  .usage {
    grid-template-columns: 1fr; /* Stack the columns on smaller screens */
    padding: 1rem;
  }

  .usage .sidebar ul,
  .usage .sidebar li {
    padding: 0.5rem;
  }

  form,
  .form-add-device {
    grid-template-columns: 1fr; /* Adjust form layout */
  }

  .devicelist {
    padding: 2rem; /* Adjust padding */
  }
}

@media (max-width: 768px) {
  .button,
  .buttonDisabled {
    padding: 0.8rem 1rem; /* Smaller buttons */
    font-size: 14px; /* Smaller font size */
  }

  .usage .sidebar ul {
    font-size: 1.2rem; /* Smaller font size */
  }

  form {
    font-size: 1.4rem; /* Smaller form elements */
  }
}

@media (max-width: 480px) {
  .button,
  .buttonDisabled {
    padding: 0.6rem 0.8rem; /* Even smaller buttons */
    margin-top: 1rem; /* Smaller margin top */
  }

  .usage .sidebar {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .msg,
  .danger,
  .good,
  .compare {
    padding: 1rem; /* Smaller padding */
    font-size: medium; /* Adjust font size */
  }

  .devicelist th,
  .devicelist td {
    padding: 8px; /* Smaller cell padding */
    font-size: 1rem; /* Smaller font size in table */
  }
}
